<div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Main Menu
                    </a>
                </li>
                <li>
                    <a href="#/createOrder">create Order</a>
                </li>
                <li>
                    <a href="#/taskList">Task List</a>
                </li>                
            </ul>
        </div>
        
        <!-- /#sidebar-wrapper -->